@model IEnumerable<mvc.Models.Planner>

@{
    ViewData["Title"] = "Список задач";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Создать задачу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
